.nav {
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    padding: 10px;
}
.nav a {
    flex-grow: 1;
    background-color: blanchedalmond;
    text-align: center;
    
}
.body {
    display: flex;
    background-color: aquamarine;
    padding: 10px;
}
.intro {
    /* It should be noted: items will not shrink together. */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    background-color: violet;
}
.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
    background-color: yellowgreen;
}
table, td, th {
    /* Stylize tables to look nice. */
    border: 2px solid black;
    /* The tables MUST have alternating colored rows */
}