/* 
    Jaxon Froderberg
    CPSC 332 Web Development
    Homework 2
    Last modified: Sep 25th, 2025
*/
* {
    color: rgb(243, 215, 122);
    font-size: large;
}
.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(73, 12, 12);
    padding: 10px;
}
.nav img {
    width: 80px;
    height: 80px;
}
.nav a {
    flex-grow: 1;
    background-color: rgb(155, 48, 48);
    text-align: center;
    padding: 25px;
}
.body {
    display: flex;
    background-color: rgb(73, 12, 12);
    padding: 10px;
}
.intro {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    background-color: rgb(155, 48, 48);
    padding: 20px;
}
h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.intro img {
    width: 400px;
    height: auto;
    border: 14px solid rgb(182, 146, 62);
    border-style: ridge;
    margin: 20px;
}
.bar {
    background-color: rgb(182, 146, 62);
    height: 8px;
}
.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
    background-color: rgb(73, 12, 12);
    padding: 50px;
}
/* Unordered list ( core skills ) */
ul {
    list-style-type: square;
}
/* Tables */
table {
    border: 2px solid rgb(182, 146, 62);
    text-align: center;
}
th {
    background-color: rgb(224, 87, 87);
    height: 30px;
}
td {
    height: 80px;
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: rgb(155, 48, 48);
}
/* Ordered list ( interests ) */
ol {
    list-style-type: upper-roman;
}
ol img {
    float: right;
    width: 200px;
}
ol li:nth-child(even) img {
    float: left;
}
ol li {
    clear: both;
    padding: 20px;
}
ol li p {
    text-align: center;
}
ol a img:hover {
    border: 2px solid gold;
}