* {
    color: rgb(243, 215, 122);
    font-size: large;
}
.nav {
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    padding: 10px;
}
.nav img {
    width: 80px;
    height: 80px;
}
.nav a {
    flex-grow: 1;
    background-color: rgb(155, 48, 48);
    text-align: center;
}
.body {
    display: flex;
    background-color: aquamarine;
    padding: 10px;
}
.intro {
    /* It should be noted: items will not shrink together. */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    background-color: rgb(155, 48, 48);
}
h2 {
    font-size: 20px;
}
.intro img {
    width: 400px;
    height: auto;

}
.bar {
    background-color: white;
    height: 8px;
}
.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
    background-color: rgb(73, 12, 12);
    padding: 50px;
}
/* The core skills unordered list must be stylized */
ul {
    list-style-type: square;
}

table {
    border: 2px solid rgb(182, 146, 62);
    text-align: center;
}
th {
    background-color: rgb(224, 87, 87);
    height: 30px;
}
td {
    height: 80px;
}
table tr:nth-child(even) {
    background-color: rgb(155, 48, 48);
}


ol li:nth-child(even) img {
    float: right;
}
ol li:nth-child(odd) p {
    float: left;
}